.about-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.about-content {
    flex: 1;
    color: white;
}

.about-image {
    text-align: right;
}

.small-image {
    width: 300px;
    height: auto;
}

.about-color {
    color: white;
}
